#{extends 'template/template.html' /}

<div class="flat_area grid_16">
    <h2>Dashboard 2011 / 2012</h2>

#{include 'helpers/flash_box.html' /}

</div>

<div class="box grid_8">
	<h2 class="box_head grad_colour ">Mes cours</h2>
	<a href="#" class="grabber">&nbsp;</a>
	<a href="#" class="toggle">&nbsp;</a>

	<div class="toggle_container">
		<div class="block no_padding">
			<table class="static">
				<thead>
				<tr>
					<th class="first">Matière</th>
					<th>Début</th>
					<th class="first">Fin</th>
				</tr>
				</thead>
				<tbody>

				#{list items:prestations, as:'prestation'}
				<tr>
					<td>${prestation.realCourse.yearCourse.fullName}</td>
					<td>${prestation.realCourse.startDate?.format()}</td>
					<td>${prestation.realCourse.endDate?.format()}</td>
				</tr>
				#{/list}

				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="box grid_8">
	<h2 class="box_head grad_colour">Mes SOE</h2>
	<a href="#" class="grabber">&nbsp;</a>
	<a href="#" class="toggle">&nbsp;</a>

	<div class="toggle_container">
		<div class="block no_padding">
			<table class="static">
				<thead>
				<tr>
					<th class="first">Matière</th>
					<th class="last">Statut</th>
				</tr>
				</thead>
				<tbody>
				*{#{list items:soeExams, as:'soeExam'}}*
				*{<tr>}*
					*{<td>${soeExam.course.fullName}</td>}*
					*{<td>${soeExam.state.label}</td>}*
				*{</tr>}*
				*{#{/list}}*
				</tbody>
			</table>
		</div>
	</div>
</div>

*{#{if auth.isAdmin()}}*
*{<div class="box grid_11">}*
    *{<h2 class="box_head grad_colour ">Derniers cours</h2>}*
    *{<a href="#" class="grabber">&nbsp;</a>}*
    *{<a href="#" class="toggle">&nbsp;</a>}*

    *{<div class="toggle_container">}*
        *{<div class="block no_padding">}*
            *{<table class="static">}*
                *{<thead>}*
                *{<tr>}*
                    *{<th class="first">Matière</th>}*
                    *{<th>Promotion</th>}*
                    *{<th>Professeur</th>}*
                    *{<th class="last">Candidats</th>}*
                *{</tr>}*
                *{</thead>}*
                *{<tbody>}*

                    *{#{list items:yearCourses, as:'course'}}*
                    *{<tr>}*
                        *{<td>${course.course.fullName}</td>}*

                        *{<td>}*
                            *{#{if course.professor != null}}*
                            *{${course.professor.fullName}}*
                            *{#{/if}}*
                            *{#{else}}*
                                *{Non defini}*
                            *{#{/else}}*
                        *{</td>}*

                        *{<td>}*
                            *{#{a @YearCoursesAdmin.show(course.id)}}*
                            *{${course.candidates.size()}}*
                            *{#{/a}}*
                        *{</td>}*
                    *{</tr>}*
                    *{#{/list}}*

                *{</tbody>}*
            *{</table>}*
        *{</div>}*
    *{</div>}*
*{</div>}*

*{<div class="flat_area grid_5">}*

    *{<h2>Gestion des cours</h2>}*

    *{<p>Procédure d'ajout d'un nouvel utilisateur à l'application.</p>}*

    *{<h3>Enregistrer l'utilisateur</h3>}*

    *{<p>}*
        *{Renseignez l'id booster et le profil de l'utilisateur, puis enregistrez.}*
        *{Un mail sera automatiquement envoyé à l'adresse idbooster@supinfo.com contenant le mot de passe temporaire.}*
    *{</p>}*

    *{<h3>Première connexion</h3>}*

    *{<p>}*
        *{Lorsque l'utilisateur va se connecter pour la première fois avec le couple idbooster / mot de passe temporaire,}*
        *{il sera invité à saisir un nouveau mot de passe ainsi que ses informations personnelles (nom, SIRET, etc...).}*
    *{</p>}*

    *{<h3>Utilisateurs actifs / inactifs</h3>}*

    *{<p>}*
        *{Tant que l'utilisateur n'aura pas rempli la procédure de première connexion, il sera considéré comme inactif.}*
        *{Vous pouvez à tout moment renvoyer un mail automatique de relance avec un nouveau mot de passe temporaire.}*
    *{</p>}*

*{</div>}*
*{#{/if}}*

*{#{else}}*
*{<div class="box grid_11">}*
    *{<h2 class="box_head grad_colour ">Cours</h2>}*
    *{<a href="#" class="grabber">&nbsp;</a>}*
    *{<a href="#" class="toggle">&nbsp;</a>}*

    *{<div class="toggle_container">}*
        *{<div class="block no_padding">}*
            *{<table class="static">}*
                *{<thead>}*
                *{<tr>}*
                    *{<th class="first">Matière</th>}*
                    *{<th class="last">Candidature</th>}*
                *{</tr>}*
                *{</thead>}*
                *{<tbody>}*

                    *{#{list items:yearCourses, as:'course'}}*
                    *{<tr>}*
                        *{<td>${course.course.code}</td>}*
                        *{<td>}*
                            *{#{if course.candidates.contains(currentUser)}}*
                                *{#{a @YearCourses.cancelCandidature(course.id)}Annuler#{/a}}*
                            *{#{/if}}*
                            *{#{elseif course.professor == null}}*
                                *{#{a @YearCourses.candidate(course.id)}Candidater#{/a}}*
                            *{#{/elseif}}*
                            *{#{else}}*
                            *{${course.professor.fullName}}*
                            *{#{/else}}*
                        *{</td>}*

                        *{#{if auth.isAdmin()}}*

                        *{#{/if}}*
                    *{</tr>}*
                    *{#{/list}}*

                *{</tbody>}*
            *{</table>}*
        *{</div>}*
    *{</div>}*
*{</div>}*

*{<div class="flat_area grid_5">}*

    *{<h2>Aide</h2>}*

    *{<p>Procédure d'ajout d'un nouvel utilisateur à l'application.</p>}*

    *{<h3>Enregistrer l'utilisateur</h3>}*

    *{<p>}*
        *{Renseignez l'id booster et le profil de l'utilisateur, puis enregistrez.}*
        *{Un mail sera automatiquement envoyé à l'adresse idbooster@supinfo.com contenant le mot de passe temporaire.}*
    *{</p>}*

    *{<h3>Première connexion</h3>}*

    *{<p>}*
        *{Lorsque l'utilisateur va se connecter pour la première fois avec le couple idbooster / mot de passe temporaire,}*
        *{il sera invité à saisir un nouveau mot de passe ainsi que ses informations personnelles (nom, SIRET, etc...).}*
    *{</p>}*

    *{<h3>Utilisateurs actifs / inactifs</h3>}*

    *{<p>}*
        *{Tant que l'utilisateur n'aura pas rempli la procédure de première connexion, il sera considéré comme inactif.}*
        *{Vous pouvez à tout moment renvoyer un mail automatique de relance avec un nouveau mot de passe temporaire.}*
    *{</p>}*

*{</div>}*
*{#{/else}}*


*{<div class="box grid_8">}*
    *{<h2 class="box_head grad_colour">SOE</h2>}*
    *{<a href="#" class="grabber">&nbsp;</a>}*
    *{<a href="#" class="toggle">&nbsp;</a>}*

    *{<div class="toggle_container">}*
        *{<div class="block no_padding">}*
            *{<table class="static">}*
                *{<thead>}*
                *{<tr>}*
                    *{<th class="first">Matière</th>}*
                    *{<th class="last">Statut</th>}*
                *{</tr>}*
                *{</thead>}*
                *{<tbody>}*
                *{<tr class="gradeX">}*

                *{</tr>}*
                *{</tbody>}*
            *{</table>}*
        *{</div>}*
    *{</div>}*
*{</div>}*

<!--<div class="box grid_5">-->
<!--<h2 class="box_head grad_colour ">Grid_8</h2>-->
<!--<a href="#" class="grabber">&nbsp;</a>-->
<!--<a href="#" class="toggle">&nbsp;</a>-->

<!--<div class="toggle_container">-->
<!--<div class="block">-->
<!--<p>Content goes here</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->