<div id="nav_top" class="clearfix round_top">
	<ul class="clearfix round_all">
		<li class="current">#{a @Dashboard.index()}<img src="@{'/public/images/icons/small/white/laptop.png'}"/>Dashboard#{/a}
		</li>

	#{if auth.isAdmin()}
		<li>#{a @UsersAdmin.list()}<img src="@{'/public/images/icons/small/grey/users_2.png'}"/>Utilisateurs#{/a}
			<ul class="dropdown">
				<li>#{a @UsersAdmin.list()}Liste des utilisateurs#{/a}</li>
				<li>#{a @UsersAdmin.create()}Nouvel utilisateur#{/a}</li>
			</ul>
		</li>

		<li><a href="#"><img src="@{'/public/images/icons/small/grey/create_write.png'}"/>Scolarité</a>
			<ul class="dropdown">
				<li>#{a @CoursesAdmin.index()}&{'coursesadmin.index'}#{/a}</li>
				<li>#{a @CoursesAdmin.newCourse()}&{'coursesadmin.newCourse'}#{/a}</li>
				<li>#{a @YearCoursesAdmin.index()}&{'yearcoursesadmin.index'}#{/a}</li>
				<li>#{a @YearCoursesAdmin.newYearCourse()}&{'yearcoursesadmin.newYearCourse'}#{/a}</li>
				<li>#{a @YearPromotions.index()}Liste des promotions#{/a}</li>
				<li>#{a @YearPromotions.newYearPromotion()}Nouvelle promotion#{/a}</li>
			</ul>
		</li>

		<li><a href="#"><img src="@{'/public/images/icons/small/grey/create_write.png'}"/>Administration</a>
			<ul class="dropdown">
				<li>#{a @Builds.manage()}Gestion des builds#{/a}</li>
			</ul>
		</li>
	#{/if}

	#{if currentUser.active}
		<li><a href="#"><img src="@{'/public/images/icons/small/grey/plane_suitcase.png'}"/>Aide</a>
			<ul class="dropdown dropdown_left">
				<li>#{a @Application.about()}<img src="@{'/public/images/icons/small/grey/folder.png'}"/>A propos#{/a}
				</li>
				<li>#{a @Application.reportBug()}<img src="@{'/public/images/icons/small/grey/users.png'}"/>Signaler un
					bug#{/a}</li>
			</ul>
		</li>
	#{/if}
	</ul>
</div>
<!-- #nav_top -->