<div id="sidebar">

    #{a @Dashboard.index()}<span>EUNOMIE - BETA</span>#{/a}
    <!-- link class logo -->

    <div class="user_box round_all clearfix">

        <h2>&{currentUser.profile.label}</h2>

        <h3><a class="text_shadow" href="#">
            ${currentUser.fullName?:'ID Booster : ' + currentUser.idBooster}
        </a></h3>
        <!--<ul>-->
        <!--<li><a href="#">settings</a><span class="divider">|</span></li>-->
        <!--<li><a href="login.php">logout</a></li>-->
        <!--</ul>-->
    </div>
    <!-- #user_box -->

    #{if currentUser.active}
    <ul id="accordion" class="round_all">
        <li>
            <a href="#" class="top_level"><img src="@{'/public/images/icons/small/grey/documents.png'}"/>

                #{if userNotifications}
                <span class="alert badge alert_red">${userNotifications}</span>
                #{/if}

                Contrats
            </a>

            <ul class="drawer">
                <li>#{a @Contracts.view()}Contrat cadre#{/a}</li>
                <li>#{a @Orders.view()}Bons de commande#{/a}</li>
            </ul>
        </li>

        <li><a href="#" class="top_level"><img
                src="@{'/public/images/icons/small/grey/graph.png'}"/>Statistiques</a>
        </li>

        <li><a href="#" class="top_level"><img src="@{'/public/images/icons/small/grey/cog_2.png'}"/>Options</a>
            <ul class="drawer">
                <li>#{a @Users.editPersonalInfo()}Infos personnelles#{/a}</li>
                <li>#{a @Users.editSkills()}Compétences#{/a}</li>
                <li>#{a @Users.editPassword()}Mot de passe#{/a}</li>
            </ul>
        </li>

    </ul>
    #{/if}

    <ul id="side_links" class="text_shadow round_all">
        <li>#{a @Users.logout()}&{'users.logout'}#{/a}</li>
    </ul>

    <p style="font-size: 9px; text-align: center; margin: 0; line-height: 9px">
        version 1 - build ${globalBuild.formattedNumber}<br/>
        #{a @Builds.show(globalBuild.id)}voir le changelog#{/a}
    </p>
</div>
<!-- #sidebar -->