<div id="sidebar">

    #{a @Dashboard.index(), class: 'logo'}<span>Adminica Pro II</span>#{/a}

    <div class="user_box round_all clearfix">
        <!--<img src="@{'/public/images/profile.jpg'}" width="55" alt="Profile Pic"/>-->

        <h2>&{user.profile.label}</h2>

        <h3><a class="text_shadow" href="#">
            ${user.fullName?:user.idBooster}
        </a></h3>
        <!--<ul>-->
        <!--<li><a href="#">settings</a><span class="divider">|</span></li>-->
        <!--<li><a href="login.php">logout</a></li>-->
        <!--</ul>-->
    </div>
    <!-- #user_box -->

    <ul id="accordion" class="round_all">

        <li>
            <a href="#" class="top_level"><img src="@{'/public/images/icons/small/grey/documents.png'}"/>Contrats</a>
        </li>
        
        <li><a href="#" class="top_level"><img
                src="@{'/public/images/icons/small/grey/graph.png'}"/>Statistiques</a>
        </li>

        <li><a href="#" class="top_level"><img src="@{'/public/images/icons/small/grey/cog_2.png'}"/>Options</a>
            <ul class="drawer">
                <li><a href="#">Infos personnelles</a></li>
                <li><a href="#">Mot de passe</a></li>
            </ul>
        </li>

    </ul>

    <ul id="side_links" class="text_shadow round_all">
        <li>#{a @Users.logout()}&{'users.logout'}#{/a}</li>
    </ul>
</div>
<!-- #sidebar -->