<div id="nav_top" class="clearfix round_top">
    <ul class="clearfix round_all">
        <li class="current">#{a @Dashboard.index()}<img src="@{'/public/images/icons/small/white/laptop.png'}"/>Dashboard#{/a}</li>

        <li><a href="#"><img src="@{'/public/images/icons/small/grey/users_2.png'}"/>Utilisateurs</a>
            <ul class="dropdown">
                <li>#{a @UsersAdmin.list()}Liste des utilisateurs#{/a}</li>
                <li>#{a @UsersAdmin.create()}Nouvel utilisateur#{/a}</li>
            </ul>
        </li>
        <li><a href="#"><img src="@{'/public/images/icons/small/grey/coverflow.png'}"/>Boxes</a>
            <ul class="dropdown">
                <li><a class="has_slide" href="#">Tab Boxes</a>
                    <ul class="slideout">
                        <li><a href="tabs.html">Horizontal Tabs</a></li>
                        <li><a href="tabs.html">Vertical Tabs</a></li>
                    </ul>
                </li>
                <li><a href="accordions.html">Accordions Boxes</a></li>
                <li><a href="wizard.html">Step by Step Wizard</a></li>
                <li><a href="code.html">Code View</a></li>
            </ul>
        </li>
        <li><a href="#"><img src="@{'/public/images/icons/small/grey/create_write.png'}"/>Forms</a>
            <ul class="dropdown">
                <li><a href="forms.html">Input & Validation</a></li>
                <li><a class="has_slide" href="#">Date</a>
                    <ul class="slideout">
                        <li><a href="forms.html">Date Field</a></li>
                        <li><a href="forms.html">Inline Picker</a></li>
                    </ul>
                </li>
                <li><a class="has_slide" href="#">Sliders</a>
                    <ul class="slideout">
                        <li><a href="forms.html">Horizontal Slider</a></li>
                        <li><a href="forms.html">Vertical Slider</a></li>
                        <li><a href="forms.html">Range Slider</a></li>
                        <li><a href="forms.html">Progress Bar</a></li>
                    </ul>
                </li>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="editor.html">WYSIWYG Editor</a></li>
            </ul>
        </li>
        <li><a href="#"><img src="@{'/public/images/icons/small/grey/images.png'}"/>Gallery</a>
            <ul class="dropdown">
                <li><a href="gallery.html">Fancybox Gallery</a></li>
                <li><a href="gallery_sortable.html">Sortable Gallery</a></li>
            </ul>
        </li>
        <li><a href="#"><img src="@{'/public/images/icons/small/grey/blocks_images.png'}"/>Tables</a>
            <ul class="dropdown dropdown_left">
                <li><a href="tables.html">DataTables</a></li>
                <li><a href="tables_static.html">Regular Tables</a></li>
            </ul>
        </li>
        <li><a href="#"><img src="@{'/public/images/icons/small/grey/plane_suitcase.png'}"/>Organize</a>
            <ul class="dropdown dropdown_left">
                <li><a href="files.html"><img src="@{'/public/images/icons/small/grey/Folder.png'}"/>Files</a></li>
                <li><a href="contacts.html"><img src="@{'/public/images/icons/small/grey/Users.png'}"/>Contacts</a></li>
            </ul>
        </li>
        <li><a href="calendar.html"><img src="@{'/public/images/icons/small/grey/month_calendar.png'}"/>Calendar</a></li>
        <li><a href="charts.html"><img src="@{'/public/images/icons/small/grey/graph.png'}"/>Charts</a></li>
        <li><a href="login.html"><img src="@{'/public/images/icons/small/grey/locked_2.png'}"/>Login</a></li>
    </ul>
</div>
<!-- #nav_top -->