<!DOCTYPE html>
<html>

#{include 'template/template_head.html' /}

<body>
<div id="wrapper">

    #{include 'template/menu_side.html' /}

    <div id="main_container" class="main_container container_16 clearfix">

        #{include 'template/menu_top.html' /}

        #{doLayout /}

        <div id="loading_overlay">
            <div class="loading_message round_bottom">Loading...</div>
        </div>

        <script type="text/javascript" src="@{'/public/js/livevalidation/livevalidation_standalone.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/tipsy/jquery.tipsy.js'}"></script>

        <script type="text/javascript">


            // Tipsy Top Config (more info found at http://onehackoranother.com/projects/jquery/tipsy/)
            $('[title]').not("div").tipsy({
                fade: true,     // fade tooltips in/out?
                fallback: '',    // fallback text to use when no tooltip text
                gravity: 's',    // gravity
                opacity: 1,    // opacity of tooltip
                title: 'title',  // attribute/callback containing tooltip text
                trigger: 'hover' // how tooltip is triggered - hover | focus | manual
            });

            // Tipsy Side Config
            $('input[title]').tipsy({
                trigger: 'focus',
                offset:'5',
                gravity: 'w'
            });

            // Live Validation
            var notempty = new LiveValidation('notempty');
            notempty.add(Validate.Presence);

            var realemail = new LiveValidation('realemail');
            realemail.add(Validate.Email);

            var atleast = new LiveValidation('atleast');
            atleast.add(Validate.Length, { minimum: 30 });

        </script>
    </div>
</div>
</body>
</html>