<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- iPhone, iPad and Android specific settings -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <title>${application_name} ${application_version} - ${page_title}</title>

    <link rel="apple-touch-icon" href="@{'/public/images/iOS_icon.png'}">

    <link rel="stylesheet" type="text/css" href="@{'/public/css/all.css'}" media="screen">

    <link rel="stylesheet" type="text/css" href="@{'/public/css/theme/theme_light.css'}" media="screen">
    <link rel="stylesheet" type="text/css" href="@{'/public/css/theme/theme_navy.css'}" media="screen">

    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="@{'/public/css/ie6.css'}" media="screen"/><![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="@{'/public/css/ie.css'}" media="screen"/><![endif]-->

    <!-- Load JQuery -->
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="@{'/public/js/jquery-1.5.2.min.js'}"></script>

    <!-- Load JQuery UI -->
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
    <script type="text/javascript" src="@{'/public/js/jquery-ui-1.8.13.min.js'}"></script>

    <!-- Load Interface Plugins -->
    <script type="text/javascript" src="@{'/public/js/uniform/jquery.uniform.js'}"></script>

    <script type="text/javascript" src="@{'/public/js/iPhone/jquery.iphoneui.js'}"></script>
    <script type="text/javascript" src="@{'/public/js/uitotop/js/jquery.ui.totop.js'}"></script>

    <!-- This file configures the various jQuery plugins for Adminica. Contains links to help pages for each plugin. -->
    <script type="text/javascript" src="@{'/public/js/adminica/adminica_ui.js'}"></script>


</head>
<body>
<div id="wrapper">

    #{include 'template/menu_side.html' /}

    <div id="main_container" class="main_container container_16 clearfix">

        #{include 'template/menu_top.html' /}

        #{doLayout /}

        <div id="loading_overlay">
            <div class="loading_message round_bottom">Loading...</div>
        </div>

        <script type="text/javascript" src="@{'/public/js/livevalidation/livevalidation_standalone.js'}"></script>
        <script type="text/javascript" src="@{'/public/js/tipsy/jquery.tipsy.js'}"></script>

        <script type="text/javascript">


            // Tipsy Top Config (more info found at http://onehackoranother.com/projects/jquery/tipsy/)
            $('[title]').not("div").tipsy({
                fade: true,     // fade tooltips in/out?
                fallback: '',    // fallback text to use when no tooltip text
                gravity: 's',    // gravity
                opacity: 1,    // opacity of tooltip
                title: 'title',  // attribute/callback containing tooltip text
                trigger: 'hover' // how tooltip is triggered - hover | focus | manual
            });

            // Tipsy Side Config
            $('input[title]').tipsy({
                trigger: 'focus',
                offset:'5',
                gravity: 'w'
            });

            // Live Validation
            var notempty = new LiveValidation('notempty');
            notempty.add(Validate.Presence);

            var realemail = new LiveValidation('realemail');
            realemail.add(Validate.Email);

            var atleast = new LiveValidation('atleast');
            atleast.add(Validate.Length, { minimum: 30 });

        </script>
    </div>
</div>
</body>
</html>