.classpath
.project
.settings
bin/
target/
gen/

*.iml
.idea

eclipse/

test-result/
tmp/
modules/
lib/
out/
db/h2
data/
generated/
dist/
logs/
test-result/
precompiled/

conf/host.key
conf/host.cert

local/
pdf/
