# mac
DS_Store

# common
*.tar
*.gz
*.zip

# eclipse
.classpath
.project
.settings
eclipse/
bin/
target/
gen/

# idea
*.ipr
*.iws
*.iml
.idea

# play
test-result/
tmp/
modules/
lib/
out/
db/h2
data/
generated/
dist/
logs/
test-result/
precompiled/

# app
conf/host.key
conf/host.cert
local/
pdf/
