<html>
<body>

<h1>&{'mail.register.subject'}</h1>

<p>
	Une demande de réinitialisation de mot de passe a été effectuée pour votre compte. <br/>
	Vous pouvez acceder à celle ci à l'adresse suivante : <strong><a href="@@{users.resetPassword}?idBooster=${user.idBooster}&key=${user.passwordResetKey}">@@{users.resetPassword}?idBooster=${user.idBooster}&key=${user.passwordResetKey}</a></strong>
	Celle ci est valide pendant les prochaines 24h.
</p>

<p>
	Si vous n'avez pas effectué cette demande veuillez tout simplement l'ignorer. <br/>
	En cas de demandes répétées merci de prendre contact avec le support d'Eunomie.
</p>

</body>
</html>