#{field 'user.password'}
<label for="${field.id}">&{field.name} <span style="color:red">*</span></label></label>
<input type="password" id="${field.id}" name="${field.name}" value="${flash[field.name]}" class="large ${field.errorClass}"
       title="Votre mot de passe."/>
#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
#{/}

#{field 'passwordConfirmation'}
<label for="${field.id}">&{field.name} <span style="color:red">*</span></label></label>
<input type="password" id="${field.id}" name="${field.name}" value="${flash[field.name]}" class="large ${field.errorClass}"
       title="Confirmez votre nouveau mot de passe."/>
#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
#{/}