#{extends 'template/template.html' /}
#{include 'helpers/multiselect.html' /}

<div class="flat_area grid_16">
    <h2>${page_title}</h2>
    #{include 'helpers/flash_box.html' /}
</div>

<div class="box grid_10 round_all">
    <h2 class="box_head grad_colour">${page_title}</h2>

    <div class="toggle_container">
        <div class="block">

            #{include 'helpers/form_validation.html' /}

            #{form @savePassword(), id:'edit-password-form', enctype:'multipart/form-data' }

            #{include 'Users/_user_password_form.html' /}


            <button class="button_colour round_all">
                <img height="24" width="24" alt="Bended Arrow Right" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>&{'submit.save'}</span>
            </button>
            #{/form}
        </div>
    </div>
</div>

<div class="flat_area grid_6">

    <h2>Aide</h2>

    <p>
        Modifiez votre mot de passe.
    </p>

</div>