<!DOCTYPE html>
<html>

#{include 'template/template_head.html' /}

<body>

<div id="login_box" class="round_all clearfix">

	#{include 'helpers/flash_box.html' /}

	#{include 'helpers/form_validation.html' /}

	<h3 style="padding-top: 20px; padding-bottom: 10px; text-align: center">Renseignez votre nouveau mot de passe</h3>

	#{form @Users.resetPasswordRequest(), id:'resetpassword-form', enctype:'multipart/form-data' }

		#{field 'idBooster'}
			<input type="hidden" name="${field.name}" value="${field.value}" />
		#{/}

		#{field 'key'}
			<input type="hidden" name="${field.name}" value="${field.value}" />
		#{/}

		#{field 'password'}
			<label class="fields"><strong>&{'user.password'}</strong>
				<input type="password" id="${field.id}" name="${field.name}" class="indent round_all"/>
			</label>
			#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
		#{/}

		#{field 'passwordConfirm'}
			<label class="fields"><strong>&{'user.passwordConfirm'}</strong>
				<input type="password" id="${field.id}" name="${field.name}" class="indent round_all"/>
			</label>
			#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
		#{/}

			<button class="button_colour round_all">
				<img width="24" height="24" alt="Locked 2" src="@{'/public/images/icons/small/white/locked_2.png'}"><span>&{'users.resetPassword.submit'}</span>
			</button>

			<div id="bar" class="round_bottom" style="text-align: right;">
			#{a @Users.login()}&{'users.forgotPassword.cancel'}#{/a}
			</div>

	#{/form}

	<!--<a href="#" id="login_logo"><span>Adminica</span></a>-->
</div>

<div id="loading_overlay">
	<div class="loading_message round_bottom">Loading...</div>
</div>

</body>
</html>