<div class="flat_area grid_6">

	<h2>Aide</h2>

	<h3>Nom</h3>

	<p>
		Le nom correspond au nom de la classe.
		Par exemple si la promotion B3A existe, alors le nom de la promotion est <strong>A</strong>.
	</p>

	<h3>Effectif</h3>

	<p>
		L'effectif correspond au nombre d'élèves dans la promotion.
		Cett information est importante car elle va déterminer le taux horaire d'un cours.
	</p>

	<h3>Niveau</h3>

	<p>
		Le niveau correspond à l'année dans le cursus scolaire de la promotion.
		Par exemple si la promotion B3A existe, alors le niveau de la promotion est <strong>B3</strong>.
	</p>

	<h3>Cours</h3>

	<p>
		Définissez les cours associés à la promotion.
		Vous pourrez également ajouter des cours plus tard.
	</p>

	<p style="text-align: right">
	#{a @YearPromotions.index()}Retourner à la liste des promotions#{/a}
	</p>

</div>