#{extends 'template/template.html' /}
#{include 'helpers/multiselect.html' /}

<div class="flat_area grid_16">
	<h2>Promotions 2011 / 2012</h2>

#{include 'helpers/flash_box.html' /}

</div>

<div class="box grid_10">
	<h2 class="box_head grad_colour ">Modifier la promotion ${yearPromotion.getFullName()}</h2>
	<a href="#" class="grabber">&nbsp;</a>
	<a href="#" class="toggle">&nbsp;</a>

	<div class="toggle_container">
		<div class="block">

		#{include 'helpers/form_validation.html' /}

        #{form @YearPromotions.update(), id:'yearPromotion-create-form', enctype:'multipart/form-data' }
			#{include 'YearPromotions/_yearPromotion_form.html' /}
		#{/form}
		</div>
	</div>
</div>

#{include 'YearPromotions/_yearPromotion_help.html' /}