#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/css/ui.multiselect.css'}"/>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/js/plugins/localisation/jquery.localisation-min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/plugins/scrollTo/jquery.scrollTo-min.js'}"></script>
<script type="text/javascript" src="@{'/public/js/ui.multiselect.js'}"></script>
<script type="text/javascript" src="@{'/public/js/multiselect.js'}"></script>
#{/set}