#{extends 'template/template.html' /}

<div class="flat_area grid_16">

    #{a @YearCoursesAdmin.edit(yearCourse.id)}
    <button class="button_colour round_all" style="float: right;">
        <img height="24" width="24" alt="&{'usersadmin.create'}" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>&{'yearcourses.edit'}</span>
    </button>
    #{/a}

    <h2>${yearCourse.course.fullName}</h2>

    #{include 'helpers/flash_box.html' /}

    <ul>
        <li>Cours : ${yearCourse.course.fullName}</li>
        <li>Type de cours : &{yearCourse.course.type.name} (${yearCourse.course.type.price} euros / heure)</li>
        #{if yearCourse.isPlannified()}
        <li>Durée : ${yearCourse.duration} heures</li>
        <li>Date de début : ${yearCourse.startDate.format()}</li>
        <li>Date de fin : ${yearCourse.endDate.format()}</li>
        #{/if}
        <li>
            Professeur :

            #{if yearCourse.hasProfessor()}
            #{a @UsersAdmin.show(yearCourse.professor.id)}${yearCourse.professor.fullName}#{/a} (${yearCourse.professor.profile.label})
            #{/if}

            #{else}
            Non défini
            #{/else}
        </li>
    </ul>

</div>

<div class="box grid_8">
    <h2 class="box_head grad_colour ">Candidats pour la matière (${yearCourse.candidates.size()})</h2>
    <a href="#" class="grabber">&nbsp;</a>
    <a href="#" class="toggle">&nbsp;</a>

    <div class="toggle_container">
        <div class="block no_padding">
            <table class="static">
                <thead>
                <tr>
                    <th class="first">&{'user.idBooster'}</th>
                    <th class="last">&{'user.lastName'}</th>
                    <th class="last">Candidature</th>
                </tr>
                </thead>
                <tbody>

                #{list items:yearCourse.candidates, as:'user'}
                <tr>
                    <td>${user.idBooster}</td>
                    <td>${user.fullName}</td>
                    <td>
                        #{a @YearCourses.validateCandidature(yearCourse.id, user.id)}Valider#{/a}
                    </td>
                </tr>
                #{/list}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box grid_8">
    <h2 class="box_head grad_colour ">Utilisateurs compétents (${yearCourse.course.users.size()})</h2>
    <a href="#" class="grabber">&nbsp;</a>
    <a href="#" class="toggle">&nbsp;</a>

    <div class="toggle_container">
        <div class="block no_padding">
            <table class="static">
                <thead>
                <tr>
                    <th class="first">&{'user.idBooster'}</th>
                    <th class="last">&{'user.lastName'}</th>
                </tr>
                </thead>
                <tbody>

                #{list items:yearCourse.course.users, as:'user'}
                <tr>
                    <td>${user.idBooster}</td>
                    <td>${user.fullName}</td>
                </tr>
                #{/list}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box grid_8">
    <h2 class="box_head grad_colour ">SOE associés (${yearCourse.soeExams.size()})</h2>
    <a href="#" class="grabber">&nbsp;</a>
    <a href="#" class="toggle">&nbsp;</a>

    <div class="toggle_container">
        <div class="block no_padding">
            <table class="static">
                <thead>
                <tr>
                    <th class="first">&{'soeExam.date'}</th>
                    <th>&{'soeExam.plannifiedDuration'}</th>
                    <th>&{'soeExam.realDuration'}</th>
                    <th class="last">&{'soeExam.state'}</th>
                </tr>
                </thead>
                <tbody>

                #{list items:yearCourse.soeExams, as:'soeExam'}
                <tr>
                    <td>#{a @SoeExams.show(soeExam.id)}${soeExam.date}#{/a}</td>
                    <td>${soeExam.plannifiedDuration}</td>
                    <td>${soeExam.realDuration}</td>
                    <td>${soeExam.state.label}</td>
                </tr>
                #{/list}

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="box grid_8 round_all">
    <h2 class="box_head grad_colour">Nouvel SOE</h2>
    <a href="#" class="grabber">&nbsp;</a>
    <a href="#" class="toggle">&nbsp;</a>

    <div class="toggle_container">
        <div class="block">

            #{include 'helpers/form_validation.html' /}

            #{form @SoeExamsAdmin.saveFromCourse(), id:'create-soe-form', enctype:'multipart/form-data' }

            #{field 'courseId'}
            <input type="hidden" id="${field.id}" name="${field.name}" value="${yearCourse.id}"/>
            #{/}

            #{field 'date'}
            <label for="${field.id}">&{field.name} <span style="color:red">*</span></label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="medium ${field.errorClass}"/>
            #{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
            #{/}

            #{field 'soeExam.plannifiedDuration'}
            <label for="${field.id}">&{field.name}</label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="medium ${field.errorClass}"/>
            #{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
            #{/}

            #{field 'afterSubmit'}
            <label>&{field.name} : ${field.value}</label>

            <div class="input_group">
                <input type="radio" name="${field.name}" value="list" checked/>
                Revenir au détail du cours.<br/>

                <input type="radio" name="${field.name}" value="form" ${(field.value == 'form').yesno('checked', '')} />
                Afficher le détail du SOE nouvellement créé.
            </div>
            #{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
            #{/}

            <button class="button_colour round_all">
                <img height="24" width="24" alt="Save" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>&{'submit.save'}</span>
            </button>
            #{/form}
        </div>
    </div>
</div>