#{extends 'template/template.html' /}

<div class="flat_area grid_16">
    <h2>${page_title}</h2>
    #{include 'helpers/flash_box.html' /}
</div>

<div class="box grid_10 round_all">
    <h2 class="box_head grad_colour">Formulaire d'ajout</h2>

    <div class="toggle_container">
        <div class="block">

            #{include 'helpers/form_validation.html' /}

            <p>Veuillez renseigner les informations de l'utilisateur à ajouter.</p>

            #{form @save(), id:'register-form', enctype:'multipart/form-data' }

            #{field 'user.idBooster'}
            <label for="${field.id}">&{field.name} <span style="color:red">*</span></label></label>
            <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="medium ${field.errorClass}"
                   title="L'id booster est requis et doit être composé uniquement de caractères numériques."/>
            #{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
            #{/}

            #{field 'user.profile'}
            <label for="${field.id}">&{field.name}</label>

            <div class="input_group">
                #{select field.name, items:profiles, valueProperty:'value', labelProperty:'label', id:field.id, value:field.value /}
            </div>
            #{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
            #{/}

            #{field 'afterSubmit'}
            <label>&{field.name} : ${field.value}</label>

            <div class="input_group">
                <input type="radio" name="${field.name}" value="list" checked/>
                Revenir à la liste des utilisateurs.<br/>

                <input type="radio" name="${field.name}" value="form" ${(field.value == 'form').yesno('checked', '')} />
                Rester sur le formulaire et ajouter un nouvel utilisateur.
            </div>
            #{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
            #{/}

            <button class="button_colour round_all">
                <img height="24" width="24" alt="Bended Arrow Right" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>&{'submit.save'}</span>
            </button>
            #{/form}
        </div>
    </div>
</div>

<div class="flat_area grid_6">

    <h2>Aide</h2>

    <p>Procédure d'ajout d'un nouvel utilisateur à l'application.</p>

    <h3>Enregistrer l'utilisateur</h3>

    <p>
        Renseignez l'id booster et le profil de l'utilisateur, puis enregistrez.
        Un mail sera automatiquement envoyé à l'adresse idbooster@supinfo.com contenant le mot de passe temporaire.
    </p>

    <h3>Première connexion</h3>

    <p>
        Lorsque l'utilisateur va se connecter pour la première fois avec le couple idbooster / mot de passe temporaire,
        il sera invité à saisir un nouveau mot de passe ainsi que ses informations personnelles (nom, SIRET, etc...).
    </p>

    <h3>Utilisateurs actifs / inactifs</h3>

    <p>
        Tant que l'utilisateur n'aura pas rempli la procédure de première connexion, il sera considéré comme inactif.
        Vous pouvez à tout moment renvoyer un mail automatique de relance avec un nouveau mot de passe temporaire.
    </p>

</div>

