#{extends 'template/template.html' /}
#{set title:'Home' /}

<h1>Nouvel utilisateur</h1>

#{ifErrors}
<p>
    Errors in form
</p>
<ul>
    #{errors}
    <li>${error}</li>
    #{/errors}
</ul>
#{/ifErrors}

#{form @save(), id:'register-form', enctype:'multipart/form-data' }

#{field 'user.idBooster'}
<p>
    <label for="${field.id}">&{field.name}</label>
    <input type="text" id="${field.id}" name="${field.name}" value="${flash[field.name]}" class="${field.errorClass}">
    <span class="error">${field.error}</span>
</p>
#{/}

#{field 'user.profile'}
<p>
    <label for="${field.id}">&{field.name}</label>
    #{select field.name, items:profiles, valueProperty:'value', labelProperty:'label', id:field.id, value:flash[field.name] /}
    <span class="error">${field.error}</span>
</p>
#{/}

<input type="submit" value="Enregistrer">
#{/form}