#{extends 'template/template.html' /}

<div class="flat_area grid_16">

    <h2>${page_title}</h2>

    #{include 'helpers/flash_box.html' /}

    <table style="float: right;">
        <tr>
            <td>
                #{a @UsersAdmin.changeActivationState(user.id)}
                <button class="button_colour round_all">
                    <img height="24" width="24" alt="&{'usersadmin.create'}" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}">
                    <span>
                        #{if user.desactivated}
                        Activer cet utilisateur
                        #{/if}
                        #{else}
                        Désactiver cet utilisateur
                        #{/else}
                    </span>
                </button>
                #{/a}
            </td>

            <td>
                #{a @UsersAdmin.remove(user.id), onClick:'return confirm(\'Etes vous sur de vouloir supprimer cet utilisateur ? Cette opération est définitive.\');'}
                <button class="button_colour round_all">
                    <img height="24" width="24" alt="&{'usersadmin.create'}" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>Supprimer cet utilisateur</span>
                </button>
                #{/a}
            </td>
        </tr>
    </table>
</div>

<div class="box grid_8 round_all">
    <h2 class="box_head grad_colour">Bons de commande</h2>

    <div class="block no_padding">
        <table class="static">
            <thead>
            <tr>
                <th class="first">Date de création</th>
                <th>Total</th>
                <th>Etat</th>
                <th colspan="2" class="last" style="text-align: right;">Actions</th>
            </tr>
            </thead>
            <tbody>
            #{list items:user.orders, as:'order'}
            <tr class="gradeX">
                <td>#{a @Orders.show(order.id)}${order.creationDate}#{/a}</td>
                <td>${order.total}</td>
                <td>${order.state.label}</td>

                <td>
                    #{if order.state == models.contracts.JobOrderState.CREATED}
                    #{a @OrdersAdmin.signed(order.id)}Signé#{/a}
                    #{/if}
                </td>
                <td>
                    #{a @Orders.download(order.id)}Télécharger#{/a}
                </td>
            </tr>
            </tbody>
            #{/list}
        </table>
    </div>
</div>


<div class="box grid_8 round_all">
    <h2 class="box_head grad_colour">Contrats</h2>

    <div class="block no_padding">
        <table class="static">
            <thead>
            <tr>
                <th class="first">Année</th>
                <th>Etat</th>
                <th class="last" colspan="2" style="text-align: right;">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX">
                <td>2011 / 2012</td>
                <td>${user.contract.state.label}</td>
                <td>
                    #{if user.contract.state == models.contracts.ContractState.CREATED}
                    #{a @ContractsAdmin.signedBySTA(user.contract.id)}Signé par le STA#{/a}
                    #{/if}
                    #{elseif user.contract.state == models.contracts.ContractState.SIGNED_BY_STA}
                    #{a @ContractsAdmin.signedBySupinfo(user.contract.id)}Signé par SUPINFO#{/a}
                    #{/elseif}
                </td>
                <td>
                    #{a @ContractsAdmin.download(user.contract.id)}Télécharger#{/a}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

