#{if request.actionMethod == 'edit' || request.actionMethod == 'update'}
#{field 'yearCourse.id'}
<input type="hidden" id="${field.id}" name="${field.name}" value="${field.value}"/>
#{/}
#{/if}

#{field 'yearCourse.name'}
<label for="${field.id}">&{field.name} <span style="font-style: italic;">(optionnel)</span></label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}"
	   class="medium ${field.errorClass}"/>
#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
#{/}

#{field 'yearCourse.duration'}
<label for="${field.id}">&{field.name} <span style="color:red">*</span></label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}"
	   class="medium ${field.errorClass}"/>
#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
#{/}

*{#{field 'startDate'}}*
*{<label for="${field.id}">&{field.name} <span style="color:red">*</span></label>}*
*{<input type="text" id="${field.id}" name="${field.name}" value="${field.value?.format()}"}*
	   *{class="medium ${field.errorClass}"/>}*
*{#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}}*
*{#{/}}*

*{#{field 'endDate'}}*
*{<label for="${field.id}">&{field.name} <span style="color:red">*</span></label>}*
*{<input type="text" id="${field.id}" name="${field.name}" value="${field.value?.format()}"}*
	   *{class="medium ${field.errorClass}"/>}*
*{#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}}*
*{#{/}}*

#{field 'course'}
<label for="${field.id}">&{field.name}</label>

<div class="input_group">
#{select field.name, items:courses, valueProperty:'id', labelProperty:'fullName', id:field.id, value:field.value /}
</div>
#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
#{/}

#{field 'courseType'}
<label for="${field.id}">&{field.name}</label>

<div class="input_group">
#{select field.name, items:courseTypes, valueProperty:'id', labelProperty:'name', id:field.id, value:field.value /}
</div>
#{if field.error}<span class="LV_validation_message LV_invalid">${field.error}</span>#{/}
#{/}

<button class="button_colour round_all">
	<img height="24" width="24" alt="&{'submit.save'}"
		 src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>&{'submit.save'}</span>
</button>