#{extends 'template/template.html' /}

<div class="flat_area grid_16">

	<h2>${page_title}</h2>

	#{include 'helpers/flash_box.html' /}

	#{a @CoursesAdmin.newCourse()}
		<button class="button_colour round_all" style="float: right;">
			<img height="24" width="24" alt="&{'usersadmin.create'}" src="@{'/public/images/icons/small/white/bended_arrow_right.png'}"><span>&{'coursesadmin.newCourse'}</span>
		</button>
	#{/a}

	<p>Il y'a actuellement ${courses.size} matières enregistrées dans l'application.</p>

</div>

<div class="box grid_16 round_all">
	<table class="display datatable">
		<thead>
		<tr>
			<th>&{'course.code'}</th>
			<th>&{'course.name'}</th>
			<th>&{'course.promotion'}</th>
			<th>&{'course.users'}</th>
		</tr>
		</thead>
		<tbody>

		#{list items:courses, as: 'course'}
		<tr>
			<td>
				<strong>${course.fullCode}</strong>
			</td>
			<td>${course.name}</td>
			<td>${course.promotion}</td>
			<td>&{course.users.size()}</td>
		</tr>
		#{/list}

		</tbody>
	</table>
</div>

<script type="text/javascript" src="@{'public/js/DataTables/jquery.dataTables.js'}"></script>
<script type="text/javascript" src="@{'public/js/adminica/adminica_datatables.js'}"></script>