#{extends 'template/template.html' /}

<div class="flat_area grid_16">

    <h2>${page_title}</h2>

    #{include 'helpers/flash_box.html' /}

    <p>
        Toute aide est la bienvenue : suggestion de nouvelles fonctionnalités ou amélioration de l'existant, rapport de bugs, etc...
    </p>

    <p>
        La plateforme de rapport de bug automatique n'a pas encore été mise en place pour l'application.<br/>
        En attendant veuillez tout simplement envoyer vos messages à <strong>75054@supinfo.com</strong> (Lukasz Piliszczuk).
    </p>
</div>